<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wpage">
        <h2>
            Innomatics Research Labs
        </h2>
        <div class="container">
            <h1>
                URL Shortener
            </h1>
            <p>
                Your shortened URL:
            </p>
            <input type="text" value="{{ request.url_root }}{{ short_url }}"  style="width: 400;height: 50;" readonly>
            <button onclick="history.back()" style="font-size: small;color:red;">
                Return to Homepage
            </button>
        </div>
        <div class="wrapper">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>
